<!DOCTYPE html>
<html>
    <!--partial head-->
    <% include ../header %>

    <body>
        <header>
            <h1>Ntalk</h1>
            <h4>Lista de contatos</h4>
        </header>
        <section>
            <p>Bem-vindo <%- usuario.nome%></p>
        </section>
        
        <% include ../exit %>

        <!--partial footer-->
        <% include ../footer %>
    </body>
</html>

<!--Parei no capitulo 5-->