<!DOCTYPE html>
<html>
    <!--partial head-->
    <% include ../header %>
    <script src="/socket.io/socket.io.js"></script>

    <script>
        var socket = io('http://localhost:3000');
        
        socket.emit('join', '<%- sala%>');

        socket.on('send-client', function(msg){
            document.getElementById('chat').innerHTML += msg;
        });

        var enviar = function(){
            var msg = document.getElementById('msg').value;
            socket.emit('send-server', msg);
        };
    </script>

    <body>
        <header>
            <h1>Ntalk</h1>
            <h4>Chat</h4>
        </header>
        <section>
            <pre id="chat"></pre>
            <input	type="text"	id="msg" placeholder="Mensagem">
            <button	onclick="enviar();">Enviar</button>
        </section>
        
        <% include ../exit %>

        <!--partial footer-->
        <% include ../footer %>
    </body>
</html>

<!--Parei no capitulo 5-->