<!DOCTYPE html>
<html>
    <% include header %>

    <body>
        <header>
            <h2>Ntalk - Erro</h2>
            <h4>Infelizmente essa página não existe :(</h4>
        </header>
        
        <hr>

        <p>Vamos voltar <a href="/">home page</a></p>

        <% include footer %>
    </body>


</html>
