<!DOCTYPE html>
<html>
    <% include header %>

    <body>
        <header>
            <h2>Ntalk - Erro</h2>
            <h4>Aconteceu um erro! x(</h4>
        </header>
        
        <hr>

        <p>
            Veja os detalhes do erro:

            <br>

            <%- error.message%>
        </p>

        <hr>

        <p>Vamos voltar <a href="/">home page</a></p>

        <% include footer %>
    </body>


</html>
